{{define "admin/slot"}}
{{template "header" args "page" "admin/slots" "title" "Put in work" "description" ""}}
<div class="container flex_column flex_x_center w_full h_full">
 <h1>Fulfillment Slot</h1>
 <div class="flex_column">
  {{ range $key, $value := .listing }}
  <a href="?edit={{ $key }}">{{ $value }}</a>
  {{ end }}
 </div>
 <h2>{{ if .slot.SlotDescription }}Edit{{ else }}Create{{ end }}</h2>
 {{ if .slot.SlotDescription }}
 <p>
  <a href="?">
   Back
  </a>
 </p>
 {{ else }}
 <p>
  <a href="/admin/home/">
   Back
  </a>
 </p>
 {{ end }}
 <form method="post" class="flex_column w_300">
  <!-- <div class="form-input">
   <label for="slot_name">Slot Day of Week</label>
   <select
    type="text"
    placeholder="Name"
    id="day"
    name="day"
   >
    <option value="1" {{ if eq .dayofweek 1 }}selected{{ end }}>
     Monday
    </option>
    <option value="2" {{ if eq .dayofweek 2 }}selected{{ end }}>
     Tuesday
    </option>
    <option value="3" {{ if eq .dayofweek 3 }}selected{{ end }}>
     Wednesday
    </option>
    <option value="4" {{ if eq .dayofweek 4 }}selected{{ end }}>
     Thursday
    </option>
    <option value="5" {{ if eq .dayofweek 5 }}selected{{ end }}>
     Friday
    </option>
    <option value="6" {{ if eq .dayofweek 6 }}selected{{ end }}>
     Saturday
    </option>
    <option value="7" {{ if eq .dayofweek 7 }}selected{{ end }}>
     Sunday
    </option>
   </select>
  </div> -->
  <!-- We switched to only delivery one day a week.. but leaving ^that in case we switch back -->
  <input
   type="hidden"
   name="day"
   value="1"
  >
  <div class="form-input">
   <label for="slot_description">Slot Description</label>
   <input
    type="text"
    placeholder="Name"
    id="slot_description"
    name="slot_description"
    value="{{ if .slot.SlotDescription }}{{ .slot.SlotDescription }}{{ end }}"
   >
  </div>
  <div class="form-input">
   <label for="max_fills">Ideal Headcount</label>
   <input
    type="number"
    placeholder="Headcount"
    id="max_fills"
    name="max_fills"
    value="{{ if .slot.MaxFils }}{{ .slot.MaxFils }}{{ end }}"
   >
  </div>
  <div class="form-input mt_8">
    <label for="fee_name">Fee Name</label>
    <input
     type="text"
     placeholder="Fee Name"
     id="fee_name"
     name="fee_name"
     value="{{ if .slot.Fee }}{{ .slot.Fee.Name }}{{ end }}"
    >
   </div>
  <div class="form-input">
    <label for="fee_amount">Fee Amount</label>
    <input
     type="number"
     step="0.01"
     placeholder="Fee Amount"
     id="fee_amount"
     name="fee_amount"
     value="{{ if .slot.Fee }}{{ .slot.Fee.Amount }}{{ end }}"
    >
   </div>
   <div class="form-input mt_16">
    <label for="zip_codes"><h4>Limit to these zip codes</h4></label>
    <p class="mt_8">Seperate them with commas</p>
    <p>I.e. 89701,96151,89702 </p>
    <input
     type="text"
     placeholder="ZIP Code"
     id="zip_codes"
     name="zip_codes"
     value=""
    >
    {{ if gt (len .slot.ZipCodes) 0 }}<h5>Current zip code limitations</h5>{{ end }}
    {{ range $code := .slot.ZipCodes }}
     <span class="zip_code_entry">{{ $code }}</span>
    {{ end }}
   </div>
  <input type="submit" value="Submit" class="mt_16">
 </form>
</div>
{{template "footer"}}
{{end}}