{{define "about"}}
{{template "header" args "page" "about" "title" "About the owner" "description" "Get to meet Feel Good Foods Owner - Cynthia Loza"}}
<div class="container">
    <section class="s1">
        <p>
            <span><img
                src="/assets/img/about-cynthia-before.png"
                alt="A before picture of owner, Cynthia Loza"
            ></span>
            All my life I have struggled with my weight. I had
            always been a heavier set girl and really struggled
            with binge eating. Growing up in a Latino household
            meant we ate whatever my parents could provide which
            I'm grateful for but it wasn't the healthiest food
            nor was I educated in what it was to fuel your body
            with what it needs.<br>
            I spent a lot of time trying different diets, doing
            endless amounts of cardio, hating on my body,
            restricting myself only to ending up having a bad
            relationship with food and body Image issues.
            After a long time I decided I did not want to live
            that way. I knew certain food would make me feel
            sluggish, tired & not motivated to do anything but
            to continue to eat junk food. So I decided to make
            a change. I was tired of feeling that way. I
            started being more mindful with eating more
            nutritious foods and starting tracking my
            macronutrients which are my overall protein,
            carbohydrates and fats intake. That has been the
            most helpful tool I've ever used. It allowed me to
            have fully balanced meals and have a set amount of
            calories that my body needed. That changed my
            everyday habits.
        </p>
    </section>
    <section class="s2">
        <p>
            <img
                src="/assets/img/about-cynthia-after.png"
                alt="An after picture of owner, Cynthia Loza"
            >
            So with experimenting on eating clean I fell in love
            with the way I could change a few ingredients in meals
            to make them a lot healthier. And the best part? I
            could incorporate and enjoy my roots. I could mix up
            the ingredients in my food to be enjoyable and great
            for my health which is where my love for feel good
            foods started. It has been my story and my biggest
            transition into becoming a healthier person overall.
            I realized eating that way had a huge effect on my
            mental & emotional health. My physical appearance was
            no longer my main focus I just wanted to FEEL GOOD and
            my lifestyle habits then made everything align with it
            after.
        </p>
        <p class="mt_8">
            By transforming what I ate every single day I managed
            to become a healthier happier person and I wouldn't
            change it for the world. It has allowed me to stay
            active, creative, motivated and passionate about what I
            do. It has created a hunger for improvement and
            developing my best self to show up in the world as a
            woman I'm proud of. Essentially it has changed the way
            I carry myself and I would love to be able to transform
            that other people too. If I can do it, you can too! I
            still love my food, I enjoy food guilt free and a
            balance of it all. Feel good foods is about balance.
            HIt's about feeling good so you can do better, be better!
        </p>
    </section>
    <section class="s3 mt_16">
        <img
            src="/assets/img/about-meal-1.png"
            alt="Meal 1"
        >
        <img
            src="/assets/img/about-meal-2.png"
            alt="Meal 2"
        >
        <img
            src="/assets/img/about-meal-3.png"
            alt="Meal 3"
        >
        <img
            src="/assets/img/about-meal-4.png"
            alt="Meal 4"
        >
        <a
            href="/"
            class="brown_btn back_btn"
        >
            Back
        </a>
    </section>
</div>
{{template "footer"}}
{{end}}