{{define "faq"}}
{{template "header" args "page" "faq" "title" "Q & A" "description" "Questions and Answers"}}
<div class="container">
    <div class="side_bar"></div>
    <img
        src="/assets/img/page-5-shrimp.jpg"
        alt="Colorful shrimp meal"
        class="header_img"
    >
    <div class="top_bar"></div>
    <section class="q_a mt_8 mb_8">
        <h1 class="p mb_8">Q&A</h1>
        <ul class="paginate">
            <li>
                <span class="psuedo_bullet"></span>
                Q : How long do these meals last?<br>
                A : Meals hold freshness for about 4-5 day
            </li>
            <li>
                <span class="psuedo_bullet"></span>
                Q : How do I heat up meals?<br>
                A : For best quality, heat up meals for about
                1:30-2 minutes in microwave or heat up in skillet
                until the desired heat.
            </li>
            <li>
                <span class="psuedo_bullet"></span>
                Q : Will these meals help lose weight?<br>
                A : They can help aid weight loss as the meals
                are low in calories. Consult with a professional
                about your nutrient goals.
            </li>
            <li>
                <span class="psuedo_bullet"></span>
                Q : How to order?<br>
                A : Order by Saturday midnight to receive your meals
                by Monday<br>
                Order by Monday midnight to receive your meals by
                Wednesday.
            </li>
            <li>
                <span class="psuedo_bullet"></span>
                Q : Do you deliver?<br>
                A : Home delivery in Carson is available for a
                charge of $8. We also deliver to South Reno or Minden
                for $10.
            </li>
        </ul>
    </section>
    <div class="sub_container mt_8">
        <img
            src="/assets/img/page-5-before-after.jpg"
            alt="Before and after body photos of owner, Cynthia Loza"
            class="before_after"
        >
        <div class="mt_8">
            <a
                href="/"
                class="brown_btn"
            >
                Back
            </a>
            <a
                href="/order"
                class="brown_btn"
            >
                Menu
            </a>
        </div>
    </div>
</div>
<script src="/assets/scripts/faq.js"></script>
{{template "footer"}}
{{end}}