{{define "order"}}
{{template "header" args "page" "Order" "title" "Order Food" "description" "Order meal delivery from Feel Good Foods"}}
<div class="header">
{{ if .IsLocked }}
<h1 class="p">
  Orders Closed
</h1>
<h2 class="p">
  Check back Wednesday!
</h2>
{{ else }}
<h1 class="p">
  You are ordering
</h1>
<h2 class="p">
  for {{.WeekOf}}
</h2>
{{ end }}

</div>
<hr>
<div style="text-align: center;">All meals are less than 500 calories</div>
<div style="text-align: center;">Extra protien is $2 per item</div>
<hr>
<!-- For each -->
{{range $menuItemId, $menuItem := .MenuItems}}
<div class="menu_item" menu-id="{{$menuItemId}}">
  <img
    src="{{$menuItem.Image}}"
    class="menu_item_photo"
  >
  <div class="menu_item_detail">
    <h3 class="p">
      {{$menuItem.Name}}
      <span class="price">$<span class="item_price">{{$menuItem.Price}}</span></span>
    </h3>
    <p class="description p">
      {{$menuItem.Description}}
    </p>
    <div class="quantity_control mt_8">
      <div class="subtract control_btn">-</div>
      <div class="quantity">0</div>
      <div class="add control_btn">+</div>
    </div>
    <div class="addon_control mt_16">
      <div>Add Extra Protein:</div>
      <div class="control_btn protien_btn"><img src="/assets/icons/meat.svg" alt="Meat icon chicken drumstick"></div>
    </div>
  </div>
</div>
{{end}}
{{ if .IsLocked }}
<div class="order_btn">
  Orders closed for week
</div>
{{ else }}
<a href="#" class="order_btn" id="submit_btn">
  ORDER
</a>
{{ end }}

<div class="ticker">
 <span>
  Menu changes weekly! - New menu Wednesday.
  Menu changes weekly! - New menu Wednesday.
  Menu changes weekly! - New menu Wednesday.
  Menu changes weekly! - New menu Wednesday.
  Menu changes weekly! - New menu Wednesday.
  Menu changes weekly! - New menu Wednesday.
 </span>
 <span>
  Menu changes weekly! - New menu Wednesday.
  Menu changes weekly! - New menu Wednesday.
  Menu changes weekly! - New menu Wednesday.
  Menu changes weekly! - New menu Wednesday.
  Menu changes weekly! - New menu Wednesday.
  Menu changes weekly! - New menu Wednesday.
 </span>
</div>

<script src="/assets/scripts/order.js"></script>
{{template "footer"}}
{{end}}