{{define "review"}}
{{template "header" args "page" "review" "title" "Review Order" "description" "Review your order before placing it"}}
{{ if .IsLocked }}
<div class="cross_banner">Orders are closed out for the week.  Check back again Wednesday!</div>
{{ else }}
<div class="cross_banner">You are ordering for service on {{ .WeekOf }}</div>
{{ end }}
<a
   id="pay_btn"
   class="brown_btn checkout_btn"
>
    Checkout
</a>
<div class="container">
    <h1 class="p mt_16">
        Order Summary
    </h1>
    <div class="sub_container">
        <div class="errors">
            <div class="error">
                {{$.Errors}}
            </div>
        </div>
        <div class="order_items">
            {{range $orderItem := .Order.Items}}
            <div class="order_item mt_16">
                <h2 class="p">
                    {{$orderItem.MenuItem.Name}}
                    <span class="quantity">X{{$orderItem.Quantity}}</span>
                </h2>
                <hr class="mb_16">
                <div class="order_item_detail">
                    <img
                        class="item_img"
                        src="{{$orderItem.MenuItem.Image}}"
                    >
                    <p class="order_item_desc">
                        {{$orderItem.MenuItem.Description}}
                    </p>
                </div>
            </div>
            {{end}}
        </div>
        <p class="mt_32">
            *Extra protein can be added for an additional charge
        </p>
        <div class="totals mt_32">
            <div class="subtotal">
                Subtotal...................................
                <span>${{.Order.SubTotal}}</span>
            </div>
            {{range $feeName, $feeAmount := .Order.Fees}}
            <div class="delivery_fee">
                {{$feeName}} fee ....................................
                <span>${{$feeAmount}}</span>
            </div>
            {{end}}
            <div class="total">
                Total .......................................
                <span>${{.OrderTotal}}</span>
            </div>
        </div>
    </div>
</div>
<div class="logo_img_container">
    <img
        src="/assets/img/homepage-logo.png"
        class="logo_img"
    >
</div>
{{template "footer"}}
{{end}}