{{define "schedule"}}
{{template "header" args "page" "Schedule" "title" "Pickup or Delivery" "description" "Choose between pickup or delivery"}}
{{ if .IsLocked }}
<div class="cross_banner">Orders are closed out for the week.  Check back again Wednesday!</div>
{{ else }}
<div class="cross_banner">You are ordering for service on {{ .Description }}</div>
{{ end }}
<div class="container">
    <a href="/pickup" class="brown_box link">Pickup</a>
    <a href="/delivery" class="brown_box link mt_32">Delivery</a>
</div>
{{template "footer"}}
{{end}}