{{define "testimonials"}}
{{template "header" args "page" "testimonials" "title" "Testimonials" "description" "Hear what people are saying about our food!"}}
<div class="container">
    <div class="side_bar"></div>
    <h1 class="mt_32">Testimonials</h1>
    <div class="top_bar"></div>
    <div class="sub_container mt_32">
        <div class="testimonials">
            <div class="testimonial">
                <a href="/assets/img/page-9-shrimp.jpg">
                    <img
                        src="/assets/img/page-9-shrimp.jpg"
                        alt="Rich and colorful shrimp meal sitting on a bed of veggies"
                        class="testimonial_photo"
                    >
                </a>
                <p class="testimonial_text">
                    Just had the asian edamame crunch salad OMG!!!
                    I'm getting the same for next week
                    - mr._marleys-father
                </p>
            </div>
            <div class="testimonial">
                <a href="/assets/img/page-9-spread.jpg">
                    <img
                        src="/assets/img/page-9-spread.jpg"
                        alt="A catering a feel good foods!"
                        class="testimonial_photo"
                    >
                </a>
                <p class="testimonial_text">
                    We eating good thanks to @feelgoodfoodsnv
                    - _jessicaaacx
                </p>
            </div>
        </div>
        <section class="logo-container">
            <img
                src="/assets/img/logo-high-resolution.png"
                alt="Feel good foods logo"
                class="logo mt_32"
            >
        </section>
        <section class="contact_us mt_32">
            <div>
                <img
                    src="/assets/icons/phone.png"
                    alt="phone icon"
                    class="icon phone_icon"
                >
                <p style="float:right">Contact:</p>
            </div>
            <p class="mt_8">C: <a href="tel:+17755083859">(775) 508-3859</a></p>
            <div class="social_media mt_8">
                <!-- <img
                    src="/assets/icons/twitter.png"
                    alt="twitter icon"
                    class="icon"
                > -->
                <a
                    href="https://www.facebook.com/profile.php?id=100063654872670"
                    target="_blank"
                >
                    <img
                        src="/assets/icons/facebook.png"
                        alt="facebook icon"
                        class="icon"
                    >
                </a>
                <a
                    href="https://www.instagram.com/feelgoodfoodsnv/"
                    target="_blank"
                >
                    <img
                        src="/assets/icons/instagram.png"
                        alt="instagram icon"
                        class="icon"
                    >
                </a>
            </div>
        </section>
    </div>
</div>
{{template "footer"}}
{{end}}