* {
    color: #ffffff;
}

body {
    background-image: url('/assets/img/page-4-background.jpg');
    background-size: 597px;
    background-position-x: -95px;
}

@media only screen and (min-width: 600px) {
    body {
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: var(--beige);
    }
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brown_box {
    border: 1px solid black;
    background-color: var(--shae);
    text-align: center;
    padding: 16px;
    width: 375px;
}
#loading-spinner {
    background-color: white;
    width: 350px;
    height: 350px;
}
#map {
    display: none;
    z-index: 1;
}
.slots {
    display: flex;
    justify-content: space-evenly;
}
.slot {
    border: solid 1px black;
    padding: 2px 16px;
    box-shadow: var(--button-shadow);
    cursor: pointer;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    #map {
        width: 325px;
    }
    .brown_box {
        width: 350px;
    }
    .slot-time {
        padding: 16px 32px;
    }
}

@media only screen and (max-width: 300px) {
    #map {
        width: 250px;
        height: 250px;
    }
    .brown_box {
        width: 200px;
    }
    .slot-time {
        padding: 16px;
    }
}