* {
    color: #ffffff;
}

body {
    background-image: url('/assets/img/page-4-background.jpg');
    background-size: 597px;
    background-position-x: -95px;
}

@media only screen and (min-width: 600px) {
    body {
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: var(--beige);
    }
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.brown_box {
    border: 1px solid black;
    background-color: var(--shae);
    text-align: center;
    padding: 16px;
    width: 80%;
    width: 375px;
    box-shadow: var(--button-shadow);
}

.link {
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .brown_box {
        width: 350px;
    }
}

@media only screen and (max-width: 400px) {
    .brown_box {
        width: 200px;
    }
}